<div class="index">
  {{admin-tile model=model saveSubCategory='saveSubCategory' destroyCategory="destroyCategory" saveCategory='saveCategory'}}
</div>
  {{#each model as |category|}}
  {{category.name}}
  {{#each category.subcategories as |subcategory|}}
  {{#link-to 'subcategory' subcategory.id}}{{subcategory.name}}{{/link-to}}
  {{/each}}
  {{/each}}

{{outlet}}
